/*Стиль самой картинки */
.news__card-image{
  margin-top: 30px;
  width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1439px) {
  .news__card-image{
    margin-top: 20px;
    width: 274px;
    height: 212px;
  }
}

@media screen and (max-width: 767px) {
  .news__card-image{
    width: 252px;
    height: 192px;
  }
}
