/* Стили картинок в карточках */
.news__card-image{
  border-radius: 30px;
  margin-top: 30px;

}

@media screen and (max-width: 1439px) {
  .news__card-image{
    max-width: 274px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .news__card-image{

  }
}

