.popup__title-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
}

.popup__title-link:hover {
    /*состояние при наведении*/
    transition: 0.35s;
    cursor: pointer;
    color: #4183DC;
}

.popup__title-link:nth-of-type(1) {
    grid-area: thanks;
}

.popup__title-link:nth-of-type(2) {
    grid-area: programs;
}

.popup__title-link:nth-of-type(3) {
    grid-area: mentors;
}

.popup__title-link:nth-of-type(4) {
    grid-area: support;
}