.footer__grid {
  max-width: 100%;
  margin: 0;
  padding-top: 81px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(539px, max-content));
  grid-template-rows: minmax(46px, max-content);
  justify-self: center;
  column-gap: 60px;
}

@media screen and (max-width: 1439px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(311px, max-content));
    padding-top: 50px;
    padding-bottom: 52px;
    column-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer__grid {
    padding-top: 32px;
    padding-bottom: 10px;
    gap: 0;
  }
}
