.specialization__title {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: -0.02em;
    color: #333;
}

@media screen and (max-width: 1439px) {
    .specialization__title {
        font-size: 38px;
        line-height: 46px;
        letter-spacing: -0.03em;

    }
}

@media screen and (max-width: 767px) {
    .specialization__title {
        font-size: 28px;
        line-height: 34px;
    }
}