.specialization__button-forward {
    min-width: 35px;
    min-height: 35px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    border: none;
    background: no-repeat center/17px #0C4BA0 url("../../../images/icon/arrow_forward.svg");
}

.specialization__button-forward:hover {
    /*состояние при наведении*/
    transition: 0.35s;
    cursor: pointer;
    background-color: #4183DC;
}

.specialization__button-forward:active {
    /*состояние при нажатии*/
    background-color: #00275C;
}

@media screen and (max-width: 1439px) {
    .specialization__button-forward {
        min-width: 24px;
        min-height: 24px;
        background-size: 10px;
    }
}