.donation-form__fieldset_border {
  border-top: 1px solid #dadada;
}

.donation-form__fieldset_border:last-of-type {
  margin-top: 39px;
}

@media screen and (max-width: 767px) {
  .donation-form__fieldset_border {
    margin-top: 32px;
    padding-top: 20px;
  }

  .donation-form__fieldset_border:nth-child(3) {
    padding-top: 16;
  }

  .donation-form__fieldset_border:nth-child(4) {
    margin-top: 19px;
    padding-top: 25px;
    padding-bottom: 0;
  }
}
