.direction-card__title {
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  padding-bottom: 20px;
}

@media (max-width:1439px) {
  .direction-card__title {
    font-size: 26px;
    padding-bottom: 10px;
  }
}

@media (max-width:767px) {
  .direction-card__title {
    font-size: 18px;
  }
}