.secondary-menu__paragraph{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.secondary-menu__paragraph:hover {
    /*состояние при наведении*/
    transition: 0.35s;
    cursor: pointer;
    color: #4183DC;
}