/* стили блока с текстом title и description */
.history__text{
  border: 1px solid blue;
  max-width: 977px;
  /* margin-left: 19px; */
}

@media screen and (max-width: 1439px) {
  .history__text {
    max-width: 450px;
}
}
