.button-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    min-width: 165px;
    height: 48px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFF;
}

.button-link:hover { /*состояние при наведении*/
    transition: 0.35s;
    cursor: pointer;
    color: #00275C;
  }

  .button-link:active { /*состояние при нажатии*/
    color: #0C4BA0;
  }

  @media screen and (max-width: 320px) {
    .button-link {
      width: 180px;
      height: 44px;
      font-size: 14px;
    }
  }