.popup_opened {
    visibility: visible;
    opacity: 1;
    display: flex;
    position: fixed;
    top: 80px;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
}

@media screen and (max-width: 767px) {
    .popup_opened{
        top: 54px;
    }
}