.section-title {
  /*Это все заголовки, начала каждой секции! паддинги не писала, так как где-то отступ 100px, где-то 150.*/
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333;
}
