.directions-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@media (max-width:767px) {
  .directions-cards {
    gap: 16px;
  }
}