.everland-slides__text {
    margin: 0;
    padding: 0;
    grid-area: text;
    min-width: 826px;
}

@media screen and (max-width: 1439px) {
    .everland-slides__text {
        min-width: 424px;
    }
}

@media screen and (max-width: 767px) {
    .everland-slides__text {
        min-width: 304px;
    }
}