.popup__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    grid-area: project-container;
}

.popup__list:nth-of-type(2) {
    grid-area: people-container;
}

.popup__list:nth-of-type(3) {
    grid-area: services-container;
}

@media screen and (max-width: 1439px) {
    .popup__list {
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 767px) {
    .popup__list {
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(1, fit-content(200px));
        grid-template-rows: repeat(2, fit-content(200px));
        grid-template-areas:
            "button"
            "items";
    }
}