.support__subtitle_payment {
  padding: 24px 12px 16px;
}

@media screen and (max-width: 1439px) {
  .support__subtitle_payment {
    padding: 14px 14px 24px;
  }
}

@media screen and (max-width: 1439px) {
  .support__subtitle_payment {
    padding: 28px 16px 16px;
  }
}