.support__item_el_extra-options {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.support__item_el_extra-options:checked + .support__pseudo-checkbox {
    background-image: url(../../../../images/check.svg);
} 