.accordeon__text {
  font-size: 20px;
  font-weight: 400;
  height: 0;
  line-height: 120%;
  margin: 0;
  max-width: 630px;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box;
}

@media (max-width:1439px) {
  .accordeon__text {
    font-size: 14px;
    max-width: 648px;
  }
}

@media (max-width:767px) {
  .accordeon__text {
    max-width: 268px;
  }
}


