.button-slider__back {
    min-width: 35px;
    min-height: 35px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    border: none;
    background: no-repeat center/17px #0C4BA0 url("../../../images/icon/arrow_back.svg");
}

@media screen and (max-width: 1439px) {
    .button-slider__back {
        min-width: 24px;
        min-height: 24px;
        background-size: 10px;
        border-radius: 6px;
    }
}