.donation-form__custom-radio_medium-button {
    width: 159px;
}

@media screen and (max-width: 1439px) {
  .donation-form__custom-radio_medium-button {
    width: 145px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__custom-radio_medium-button {
    width: 122px;
  }
}
