/*Стиль самой картинки */
.news__card-image-image{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1439px) {
  .news__card-image-image{
 
  }
}

@media screen and (max-width: 767px) {
  .news__card-image-image{

  }
}
