/* стили контейнера для маленьких карточек внизу блока history */
.history__cards-container{
  border: 1px solid red;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  /* row-gap: 16px; */ /* вставить в макет на мобильную версию */
  margin-left: 40px;
  margin-right: 40px;
}


