.draft__img-2 {
    margin: 0 0 0 48px;
    padding: 0;
    min-height: 393px;
    min-width: 555px;
    border-radius: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../images/img_fpf_2.png");
    grid-area: img;
}

@media screen and (max-width: 1439px) {
    .draft__img-2 {
        margin-left: 0;
        min-height: 284px;
        min-width: 259px;
        border-radius: 10px;
        background-image: url("../../../images/img_qwe_2.png");
    }
}

@media screen and (max-width: 767px) {
    .draft__img-2 {
        min-height: 180px;
        min-width: 254px;
        background-image: url("../../../images/img_fpf_2.png");
    }
}