/*стили ссылки на истории из мини карт*/
.history__card-mini-link{
  display: inline-block;
  /* border: 2px solid green; */
  text-decoration: none;
  color:#333333;
  cursor: pointer;
  line-height: 23px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-right: 50px;
  font-size: 18px;
  font-weight: 400;
  background-image: url(../../../images/history/Icon_paly.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  position: absolute;
  bottom: 0;
  background-position: 100% 50%;
 }

 @media screen and (max-width: 1439px) {
  .history__card-mini-link{
    line-height: 19px;
    margin-top: 11.5px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-right: 38px;
    font-size: 16px;
    background-size: 28px 28px;
    position: relative;
  }

}

@media screen and (max-width: 767px) {
  .history__card-mini-link{
    line-height: 14px;
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 34px;
    font-size: 12px;
    background-size: 24px 24px;
  }

}
