.projects-slider__buttons{
    margin: 0;
    padding: 0;
    grid-area: buttons;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 1439px) {
    .projects-slider__buttons {
        margin-left: 286px;
        grid-area: button;
    }
}

@media screen and (max-width: 767px) {
    .projects-slider__buttons {
        margin-left: 0;
        grid-area: buttons;
    }
}