.everland-slides__buttons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 126px;
    max-height: 35px;
    grid-area: buttons;
}

@media screen and (max-width: 1439px) {
    .everland-slides__buttons {
        max-width: 97px;
        max-height: 24px;
    }
}

@media screen and (max-width: 767px) {
    .everland-slides__buttons {
        margin: 0 auto;
    }
}