.projects__paragraph {
<<<<<<< HEAD
    margin: 20px 0 0 0;
=======
    margin: 0;
>>>>>>> develop
    padding: 0;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    max-width: 427px;
}

@media screen and (max-width: 1439px) {
    .projects__paragraph {
        margin-top: 10px;
        font-size: 16px;
        line-height: 19px;
        max-width: 315px;
    }
}

@media screen and (max-width: 767px) {
    .projects__paragraph {
        font-size: 14px;
        line-height: 17px;
    }
}