.projects-slider__small-text {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    grid-area: small-text;
}

@media screen and (max-width: 1439px) {
    .projects-slider__small-text {
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width: 767px) {
    .projects-slider__small-text {
        font-size: 14px;
        line-height: 17px;
    }
}