.draft__buttons{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 388px;
    left: 641px;
}

@media screen and (max-width: 1439px) {
    .draft__buttons {
        margin-left: 286px;
        top: 290px;
        left: 27px;
    }
}

@media screen and (max-width: 767px) {
    .draft__buttons {
        margin-left: 0;
        top: 24px;
        left: 220px;
    }
}