/*Стили текстовых сообений внутри карточки*/
.news__card-text{
  border: 1px solid red;
  margin-top: 20px;
  line-height: 26px;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 1439px) {
  .news__card-text{
    line-height: 19px;
    font-size: 16px;
    margin-top: 10px;

  }
}

@media screen and (max-width: 767px) {
  .news__card-text{
    line-height: 17px;
    font-size: 14px;
  }
}
