.button-slider {
  margin: 0;
  padding: 0;
}

.button-slider:hover {
  /*состояние при наведении*/
  transition: 0.35s;
  cursor: pointer;
  background-color: #4183DC;
}

.button-slider:active {
  /*состояние при нажатии*/
  background-color: #00275C;
}