.projects__title {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #333333;
}

@media screen and (max-width: 1439px) {
    .projects__title {
        font-size: 36px;
        line-height: 43px;

    }
}

@media screen and (max-width: 767px) {
    .projects__title {
        font-size: 28px;
        line-height: 34px;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> develop
