.footer__link-img {
  padding-right: 40px;
}

.footer__link-img:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 1439px) {
  .footer__link-img {
    padding-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .footer__link-img {
    padding-right: 0;
  }
}
