.footer__links {
  max-width: 499px;
  height: 124px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 118px;
}

@media screen and (max-width: 1439px) {
  .footer__links {
    max-width: 334px;
    column-gap: 95px;
    align-items: flex-end;  /*center*/
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
    max-width: 300px;
    column-gap: 20px;
    row-gap: 10px;
    align-items: flex-start;
    height: 88px;
    padding-top: 28px;
  }
}
