.footer__copyright {
  max-width: 629px;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: rgba(38, 38, 38, 0.5);
  padding-top: 22px;
}

@media screen and (max-width: 1439px) {
  .footer__copyright {
    padding-top: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
    padding-top: 30px;
    max-width: 300px;
  }
}
