.donation-form__custom-radio_middle-button {
    width: 186px;
    margin-right: 18px;
}

.donation-form__custom-radio_middle-button:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .donation-form__custom-radio_middle-button {
    width: 260px;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .donation-form__custom-radio_middle-button:last-of-type {
    margin-bottom: 0;
  }
}
