/* стили карточки внутри блока history */
.history__card{
  /* border: 1px solid green; */
  min-height: 324px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
