.numbers-card__text-area {
  align-self: center;
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 670px;
  row-gap: 30px;
}

@media (max-width:1439px) {
  .numbers-card__text-area {
    max-width: 688px;
    row-gap: 33px;
  }
}

@media (max-width:767px) {
  .numbers-card__text-area {
    max-width: 300px;
    row-gap: 16px;
  }
}