.footer__support-block {
  max-width: 269px;
  padding-top: 90px;
}

@media screen and (max-width: 1439px) {
  .footer__support-block {
    max-width: 181px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer__support-block {
    max-width: 152px;
    padding-top: 18px;
  }
}
