/*  Стили подзаголовка в больших карточках  */
.history__subtitle{
  margin: 0;
  line-height: 41px;
  font-size: 34px;
  font-weight: 700;
}


@media screen and (max-width: 1439px) {
  .history__subtitle {
    line-height: 24px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .history__subtitle {
    margin-top: 4px;
    line-height: 19px;
    font-size: 16px;
  }
}
