/*Заголовок блока news !ВАЖНО -> ПОЛНОСТЮ ИДЕНТИЧЕН history__title*/

.news__title {
  margin: 0;
  margin-left: 0px;
  line-height: 77px;
  font-size: 64px;
  font-weight: 700;
}

@media screen and (max-width: 1439px) {
  .news__title{
    line-height: 43px;
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .news__title{
    margin-left: 0;
    line-height: 31px;
    font-size: 26px;
  }
}
