.accordeon__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

@media (max-width:1439px) {
  .accordeon__title {
    font-size: 26px;
  }
}

@media (max-width:767px) {
  .accordeon__title {
    font-size: 18px;
  }
}