.support__item {
    margin: 0;
    max-width: 455px;
    min-height: 48px;
    margin-top: 21px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    padding-left: 20px;
}

.support__item:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1439px) {
  .support__item {
    font-size: 14px;
    line-height: 120%;
    margin-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .support__item {
    font-size: 14px;
    margin-top: 10px;
    min-height: 44px;
  }
}


