.everland-slides__slide-num {
    margin: 0 10px;
    padding: 0;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}

@media screen and (max-width: 1439px) {
    .everland-slides__slide-num {
        font-size: 16px;
        line-height: 19px;
    }
}