.heading-second-item_mobile-as-heading {
  font-size: 34px;
}

@media screen and (max-width: 1439px) {
  .heading-second-item_mobile-as-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .heading-second-item_mobile-as-heading {
    font-size: 16px;
  }
}
