@media screen and (max-width: 1439px) {
    .logo-navigation__buttons_size {
        max-width: 134px;
        max-height: 44px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .logo-navigation__buttons_size {
        display: none;
    }
}