/* самые общие стили блока history */
.history{
  font-family: 'Raleway', Arial, sans-serif;
  margin: 150px auto 100px;
  max-width: 1360px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
}

@media screen and (max-width: 1439px) {
  .history {
    margin-top: 100px;
    max-width: 688px;
    margin-bottom: 50px; /* расстояние до нижнего серого блока agency */
  }
}

@media screen and (max-width: 767px) {
  .history {
    max-width: 300px;
    margin-top: 64px;
    margin-bottom: 32px; /* расстояние до нижнего серого блока agency */
  }
}
