/* */
.news__card-data-text{
  border: 2px solid yellowgreen;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1439px) {
  .news__card-data-text{
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .news__card-data-text{
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
  }
}

