/* стили маленьких карточек внизу блока history */
.history__card-mini{
  background: #EAE6FF;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
  padding: 30px;
}

@media screen and (max-width: 1439px) {
  .history__card-mini{
    max-width: 334px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 20px;
    column-gap: 16px;

  }

}

@media screen and (max-width: 767px) {
  .history__card-mini{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 7px;
    padding-left: 16px;
    /* padding: 16px; */
    column-gap: 15px;
  }

}
