/* стили надписи с именем в мини карточках */
.history__card-mini-name {
  margin: 0;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 1439px) {
  .history__card-mini-name {
    line-height: 19px;
    font-size: 16px;
  }
}
