/*стили картинок внутри карточек */
.agency__card-img {
  /* border: 2px solid green; */
  width: 100%;
  border-radius: 30px;

}

@media screen and (max-width: 1439px) {
  .agency__card-img{
    height: 334px;
    border-radius: 20px;
  }
  }

  @media screen and (max-width: 767px) {
    .agency__card-img{
      height: 300px;
    }
    }
