.navigation {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 7px 15px rgba(104, 104, 104, 0.5);
}

@media screen and (max-width: 1439px) {
    .navigation {
        min-width: 769px;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        min-height: 54px;
        min-width: 320px;
    }
}