.button-link_color_purple {
    background-color: #EAE6FF;
    color: #8B75FF;
}

.button-link_color_purple:hover { /*состояние при наведении*/
    transition: 0.35s;
    cursor: pointer;
    background-color: #8B75FF;
    color: #FFF;
  }

  .button-link_color_purple:active { /*состояние при нажатии*/
    background-color: #4935B5;
  }