/* стили подзаголовка в блоке agency */
.agency__subtitle{
  /* border: 1px solid green; */
  margin: 0;
  margin-left: 40px;
  margin-top: 20px;
  line-height: 41px;
  font-size: 34px;
  font-weight: 700;
  max-width: 955px;
}

@media screen and (max-width: 1439px) {
  .agency__subtitle{
    line-height: 24px;
    font-size: 20px;
    max-width: 504px;
    margin-top: 15.4px;
  }
  }

  @media screen and (max-width: 767px) {
  .agency__subtitle{
    line-height: 19px;
    font-size: 16px;
    max-width: 300px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
  }
