<<<<<<< HEAD
.button-slider_background-color:first-of-type {
=======
.button-slider_background-color {
>>>>>>> develop
  background-color: #333;
}

.button-slider_background-color:last-of-type {
  margin-left: 8px;
  background-color: #333;
}

.button-slider_background-color:hover {
  /*состояние при наведении*/
  transition: 0.35s;
  cursor: pointer;
  background-color: #0C4BA0;
}

.button-slider_background-color:active {
  /*состояние при нажатии*/
  background-color: #00275C;
}

@media screen and (max-width: 1439px) {
  .button-slider_background-color {
    min-width: 24px;
    min-height: 24px;
    background-size: 10px;
    border-radius: 6px;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> develop
