.button-slider_background-color {
    background-color: #333;
}

.button-slider_background-color:hover { /*состояние при наведении*/
    transition: 0.35s;
    cursor: pointer;
    background-color: #0C4BA0;
  }

  .button-slider_background-color:active { /*состояние при нажатии*/
    background-color: #00275C;
  }
