.specialization__img-forward {
    margin: 158px 0 0 0;
    padding: 0;
    z-index: -1;
    min-width: 392px;
    object-fit: contain;
    border-radius: 10px;
    float: left;
    background-image: url(../../../images/Image_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1439px) {
    .specialization__img-forward {
        margin-top: 70px;
        min-width: 170px;
        background-image: url(../../../images/Image_1_tablet.png);
    }
}

@media screen and (max-width: 767px) {
    .specialization__img-forward {
        margin-top: 40px;
        background-image: url(../../../images/Image_1_mobile.png);
    }
}