/* стили заголовка уровня h2 в блоке agency */
.agency__title{
  /* border: 2px solid salmon; */
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 77px;
  font-size: 64px;
  font-weight: 700;
}


@media screen and (max-width: 1439px) {
.agency__title{
  max-width: 394px;
  line-height: 43px;
  font-size: 36px;
}
}

@media screen and (max-width: 767px) {
.agency__title{
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  line-height: 31px;
  font-size: 26px;
}
}
