/* стили заголовка уровня h2 в блоке agency */
.agency__title{
  /* border: 2px solid salmon; */
  margin-left: 40px;
  margin-right: 40px;
}


@media screen and (max-width: 1439px) {
.agency__title{
  max-width: 394px;
}
}

@media screen and (max-width: 767px) {
.agency__title{
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
}
}
