.support__checkbox {
    padding-top: 18px;
    padding-bottom: 23px;
    display: block;
}

.support__checkbox:first-of-type {
    padding-top: 39px;
    padding-bottom: 0px;
}

@media screen and (max-width: 1439px) {
  .support__checkbox  {
    padding-top: 14px;
    padding-bottom: 24px;
  }

  .support__checkbox:first-of-type {
    padding-top: 24px;
    padding-bottom: 0px;
}
}

@media screen and (max-width: 767px) {
  .support__checkbox  {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
}
