/* Стили карточек новостей */
.news__card{
  border: 2px solid green;
  border-radius: 30px;
  min-height: 800px;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content) auto;

}

@media screen and (max-width: 1439px) {
  .news__card{
    max-width: 334px;
    min-height: 551px;
  }
}

@media screen and (max-width: 767px) {
  .news__card{
    min-height: 367px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
