.donation {
  padding-top: 45px;
  padding-bottom: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .donation {
    padding-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .donation {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
