/* стили тектовых сообщений в карточках мини */
.history__card-mini-info {
  width: 366px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .history__card-mini-info{
    width: 182px;
  }
}
