.everland-slides__paragraph {
    margin: 20px 0 0 0;
    padding: 0;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    max-width: 543px;
}

@media screen and (max-width: 1439px) {
    .everland-slides__paragraph {
        max-width: 401px;
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width: 767px) {
    .everland-slides__paragraph {
        max-width: 294px;
        font-size: 14px;
        line-height: 17px;
<<<<<<< HEAD
    }
}
=======
        margin-top: 15px;
    }
}
>>>>>>> develop
