/* Самые общие стили блока news */
.news{
  font-family: 'Raleway', Arial, sans-serif;
  margin: auto;
  max-width: 1440px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1439px) {
  .news {
    max-width: 768px;
    padding-top: 40px;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .news {
    max-width: 320px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
