.numbers-card__img {
  height: 368px;
  object-fit: cover;
  width: 555px;
}

@media (max-width:1439px) {
  .numbers-card__img {
    display: none;
  }
}

@media (max-width:767px) {
  .numbers-card__img {
    display: flex;
    height: 200px;
    width: 300px;
  }
}