.support__donator {
    list-style-type: none;
    font-family: "Raleway", "Arial", sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    padding-right: 10px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1439px) {
  .support__donator   {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .support__donator   {
    font-size: 14px;
    padding-right: 28px;
  }
}

