/*Стили подзаголовков в карточках*/
.news__card-subtitle{
  border: 1px solid blue;
  margin: 0;
  /* margin-top: 30px; */
  line-height: 41px;
  font-size: 34px;
  font-weight: 700;
  /* justify-self: flex-start; */
  /* align-items: flex-start; */
  /* align-self: flex-start; */
}

@media screen and (max-width: 1439px) {
  .news__card-subtitle{
    line-height: 31px;
    font-size: 26px;
    margin-top: 20px;

  }
}

@media screen and (max-width: 767px) {
  .news__card-subtitle{
    line-height: 22px;
    font-size: 18px;
  }
}
