.cards__link-arrow_color_blue {

  color: #0C4BA0;
  text-decoration: none;
  background: #E7F0FF;
  background-image: url(../../../../images/history/arrow_forward.svg);
  background-repeat: no-repeat;
  display:inline-block;
  border-radius: 10px;
  margin: 14px;
  cursor: pointer;
}

.cards__link_color_blue:hover .cards__link-arrow_color_blue {
  background:#0C4BA0;
  color: #fff;
  background-image: url(../../../../images/history/arrow_forward_white.svg);
  background-repeat: no-repeat;
}

.cards__link-arrow_color_blue:disabled {
  color: rgba(38, 38, 38, 0.5);
}
